<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
    <title>CMPT 276 - Asn 2</title>
  </head>
  <body>
    <%- include ("../partials/nav.ejs") %>
    <div class="container">
    <h1>No Users current in the database. Please add New User to Database</h1>

    <form class="" action="/addnewuser" method="post">
      <input type="text" name="name" value="" placeholder="Name" required/> <br />
      <input type="number" name="weight" value="" placeholder="Weight" required/> <br />
      <input type="number" name="height" value="" placeholder="Height" required/> <br />
      <input type="text" name="haircolor" value="" placeholder="Haircolor" required/> <br />
      <input type="number" step="0.1" name="gpa" value="" placeholder="GPA" required/> <br />
      <!-- <input type="submit" name="sub" value="SEND TO SERVER" /> -->
      <button id="button" type="submit" name="adduserbutton">Add User</button>
    </form>

    <script type="text/javascript" src="./script.js"></script>

    <script type="text/javascript" src="./advanced.js"></script>
  </div>
  </body>
</html>

